@using Test.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper CreateList(List<Monitoring> monitorings)
{
    if (monitorings.Count == 0)
     {
         <div class="alert alert-info" role="alert">
             <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
             You don't have any motinoring.
         </div>
     }
     else
     {
         <ul class="list-group">
             @foreach (var m in monitorings)
             {
                @Html.Partial("Monitoring", m)
             }
         </ul>
     }
}

<div class="row">
    <div class="col-md-4">
        <h2 align="center">Railway</h2>
       @CreateList(ViewBag.Railway)
    </div>
    <div class="col-md-4">
        <h2 align="center">Bus</h2>
        @CreateList(ViewBag.Bus)
    </div>
    <div class="col-md-4">
        <h2 align="center">BlaBlaCar</h2>
        @CreateList(ViewBag.Blablacar)
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="row" align="center">
        <button type="button" class="btn btn-default">@Html.ActionLink("Create", "Create")</button>
    </div>
}