@model Test.Models.Monitoring
@if (Model.IsInProccess)
{
    <li class="list-group-item list-group-item-warning">
        <div class="row">
            <div align="left" class="col-md-10">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <b>In proccess</b>
            </div>
            <div align="right" class=" col-md-2">
                <a class="glyphicon glyphicon glyphicon-remove" href="@Url.Action("Delete","Monitoring", new { id = Model.Id })"></a>
            </div>
        </div>
        <div align="center">
            <p><b>@Model.Rout</b></p>
        </div>
        <div>
            <p>From: <b>@Model.From</b></p>
            <p>To: <b>@Model.To</b></p>
            <p>Date: <b>@Model.Date</b></p>
            <p>Time: <b>@Model.Time</b></p>
            <p>Type: <b>@Model.SeatType</b></p>
        </div>
    </li>
}
else if (Model.IsSuccessed)
{
    <li class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col-md-10" align="left">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <b>Rout was found!</b>
            </div>
            <div align="right" class=" col-md-2">
                <a class="glyphicon glyphicon glyphicon-remove" href="@Url.Action("Delete", "Monitoring", new {id = Model.Id})"></a>
            </div>
        </div>
        <div align="center">
            <p><b>@Model.Rout</b></p>
        </div>
        <div>
            <p>From: <b>@Model.From</b></p>
            <p>To: <b>@Model.To</b></p>
            <p>Date: <b>@Model.Date</b></p>
            <p>Time: <b>@Model.Time</b></p>
            <p>Type: <b>@Model.SeatType</b></p>
        </div>
    </li>
}
else
{
    <li class="list-group-item list-group-item-danger">
        <div class="row">
            <div class="col-md-10" align="left">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                <b>Rout not found :(</b>
            </div>
            <div align="right" class=" col-md-2">
                <a class="glyphicon glyphicon glyphicon-remove" href="@Url.Action("Delete","Monitoring", new { id = Model.Id })"></a>
            </div>
        </div>
        <div align="center">
            <p><b>@Model.Rout</b></p>
        </div>
        <div>
            <p>From: <b>@Model.From</b></p>
            <p>To: <b>@Model.To</b></p>
            <p>Date: <b>@Model.Date</b></p>
            <p>Time: <b>@Model.Time</b></p>
            <p>Type: <b>@Model.SeatType</b></p>
        </div>
    </li>
}